body {
  font-family: "Source Sans Pro", sans-serif;
}

/* nav bar */
.border-box {
  box-sizing: border-box;
}

.navBar-box {
  overflow: hidden;
  background-color: #7540ee;
  top: 0;
  right: 0;
  z-index: 101;
}

.navBar-text {
  color: #e3d9fc;
  font-size: 10pt !important;
}

/* nav bar link & hover */
.link {
  text-decoration: none;
  transition: color 0.15s ease-in;
}

.link:link,
.link:visited {
  transition: color 0.15s ease-in;
}

.link:hover {
  transition: color 0.15s ease-in;
}

.link:active {
  transition: color 0.15s ease-in;
}

.link:focus {
  transition: color 0.15s ease-in;
  outline: 1px dotted currentColor;
}

.dim {
  opacity: 1;
  transition: opacity 0.15s ease-in;
}

.dim:hover,
.dim:focus {
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}

.dim:active {
  opacity: 0.8;
  transition: opacity 0.15s ease-out;
}

/* icons style */
.iconSize {
  font-size: 2em;
}

.esclamationIcon {
  font-size: 8pt !important;
  color: #ff7052;
}

/* side bar */
.sideBar-box {
  position: fixed;
  overflow: hidden;
  z-index: 101;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: powderblue;
}

/* content wrapper */
.contentWrapper {
  z-index: 1;
  margin-top: 80px;
  padding-left: 20%;
  background-color: #f3f0fa;
}

/* box styling */
.boxWrapper {
  border-width: 0.5px !important;
  background-color: white;
}

.boxHeader {
  background-color: #ff7052;
}
.boxTitle {
  color: #333333;
}
.boxSubtitle {
  color: #333333;
  font-size: 10pt !important;
}

.boxTitleAlt {
  color: white;
}

.boxContent {
  color: #7f7f7f;
  font-size: 10pt;
}

@media screen and (min-width: 30em) {
  .ph5-ns {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .mr4-ns {
    margin-right: 2rem;
  }

  .f5-ns {
    font-size: 1rem;
  }
}
